input {
  margin: 10px;
  font-size: 20px;
  width: 100px;
}

button {
  margin: 10px;
}

.heading {
  margin-bottom: 20px;
}

.userPrompts {
  margin-bottom: 20px;
}

.gap {
  margin: 20px;
}

.clockContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.clock {
  border: transparent;
  font-size: 70px;
  width: 280px;
}
