input {
  margin: 10px;
  width: 80px;
}

button {
  margin: 10px;
}

.heading {
  margin-bottom: 20px;
}

.userPrompts {
  margin-bottom: 20px;
}

.clockContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}
