body {
  font-family: Verdana, sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}

button {
  margin: 10px;
}

.prompt {
  margin: 10px;
  font-size: 20px;
  width: 100px;
}

.container {
  margin: auto;
  width: 382px;
}

.form-container{
  margin-bottom: 20px;
}

.err-msg {
  font-style: italic;
  font-weight: 900;
  color: #F20C0C;
}

.indicator {
  font-size: 45px;
  font-style: italic;
}

.clock-container {
  margin: 30px auto;
  width: 350px;
  background-color: #D06B6B;
  border: 8px solid black;
}

.clock {
  /* width: 300px; */
  background-color: inherit;
  font-size: 70px;
  text-align: center;
}
